<div class="container">
    <div class="row">
        <div class="col">
            <div class="m-5"></div>
            <div class="m-5"></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 id="pageTitle">Apps Country</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-5">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <div class="row">
                            <mat-form-field class="col-12 page-input">
                                <mat-label>Search here</mat-label>
                                <input type="text" placeholder="App Name" matInput class="col-12"
                                    [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="appSearch"
                                    (ngModelChange)="searchForApp()">

                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                                        (onSelectionChange)="getAppDetails($event)">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <!--
                <input class="form-control" placeholder="Search apps..." [(ngModel)]="appSearch"
                    (ngModelChange)="searchForApp($event)" />
                <button class="form-control btn btn-dark col-1">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
                </button>-->
                <!--
                <form>
                    <mat-form-field>
                        <input type="text" matInput [matAutocomplete]="auto"/>
                    </mat-form-field>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option in options" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </form>-->
            </div>
        </div>
    </div>
    <app-bar>[formgroups]="d3data"</app-bar>
    <app-pie>[formgroups]="d3data"</app-pie>
    <app-scatter>[formgroups]="d3data"</app-scatter>
    <app-geomap>[formgroups]="d3data"</app-geomap>
</div>
<app-detailed-view [formgroups]="appData"></app-detailed-view>

<app-donut></app-donut>